
.feature-icon {
    width: 4rem;
    height: 4rem;
    border-radius: 0.75rem;
}

.bi {
    vertical-align: -0.125em;
    fill: currentColor;
}

.about-us-content {
    display: flex;   
}


.menuProyectos {
    padding: 0 103px
}


.proyectosTitle {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: noraml;
  font-size: 63px;
  text-align: center;
}

.seleccionTipoProyecto {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    padding-top: 60px;

}

.project-link {
    text-decoration: none;
    width: 50%;
    font-size: 20px;
    text-transform: uppercase;
    color: paleturquoise;
    font-weight: 700;
    font-family: "Open Sans", sans-serif;
    border-bottom: 10px solid paleturquoise;
    text-align: center;
    transition: 0.2s;
    
}

.project-link:hover {
    color: lightsteelblue;
    border-bottom: 10px solid lightsteelblue;
}

.project-link:focus {
    color: lightsteelblue;
    border-bottom: 10px solid lightsteelblue;
}


.proyectosSeleccionados {
    display: block;
    gap: 0px;
}

.proyectosSeleccionados ul {
    list-style-type: none;
    justify-content: center;
   justify-content: space-between;
    display: flex;
    flex-direction: row;
    gap:15px;
    white-space: pre-wrap;

}

.listaProyectos {

    width: 30%;
    max-width: 30%;
}

.imagenProyectoLista img {
    width: 100%;
    border-radius: 10px;
    transition: 0.2s;
}

.imagenProyectoLista img:hover {
    -webkit-box-shadow: 2px 2px 15px 1px rgba(0,196,255,1);
    -moz-box-shadow: 2px 2px 15px 1px rgba(0,196,255,1);
    box-shadow: 2px 2px 15px 1px rgba(0,196,255,1);

}

.imagenProyectoLista div {
    position: relative;
    padding: 10px;
    text-align: center;
    font-size: larger;
    font-family: "Open Sans", sans-serif;
    font-weight: lighter;
    font-optical-sizing: auto;
}

.card-text{
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: bold;
    font-size: 20px;
    text-align: center;
}

div .error-txt {
    color: red;
    text-align: left;
    margin: -5px, 0 10px;
    display: none;
}

